
<div class="btns">
  <%= form_with url: game_switch_side_path(@game), method: :put do |form| %>
    <%= form.submit 'Switch Sides', id: 'switch_sides' %>
  <% end %>

  <%= form_with url: game_path(@game), method: :delete do |f| %>
    <%= f.submit 'Delete', data: { confirm: 'Are you sure?' }%>
  <% end %>
</div>

<%= form_with model: @game do |f| %>
  <div class="first_market">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div class="odds match_uuid">
    <%= f.label :match_uuid %>
    <%= f.text_field :match_uuid %>
  </div>

  <div class="odds">
    <%= f.label :game_number %>
    <%= f.number_field :game_number %>
  </div>

  <div class="odds">
    <div class="first_market">
      <%= f.label :blue_side %>
      <%= f.select :blue_side_team_id, @teams, { }, { class: 'side_select' } %>
    </div>

    <div class="odds">
      <%= f.label :odds, for: 'game_blue_side_team_win_odds', class: 'odds_label' %>
      <%= f.text_field :blue_side_team_win_odds %>
    </div>
  </div>

  <div class="odds">
    <div class="first_market">
      <%= f.label :red_side %>
      <%= f.select :red_side_team_id, @teams, {}, { class: 'side_select' } %>
    </div>

    <div class="odds">
      <%= f.label :odds, for: 'game_red_side_team_win_odds', class: 'odds_label' %>
      <%= f.text_field :red_side_team_win_odds %>
    </div>
  </div>

  <h3>First Blood</h3>
  <div class="first_market">
    <%= f.label :first_blood_team_id %>
    <%= f.select :first_blood_team_id, @teams, { include_blank: '----' }, { class: 'first_select', data_select: 'first_blood' } %>
  </div>

  <div class="odds">
    <%= f.label :blue_side_team_fb_odds %>
    <%= f.text_field :blue_side_team_fb_odds %>
  </div>

  <div class="odds">
    <%= f.label :red_side_team_fb_odds %>
    <%= f.text_field :red_side_team_fb_odds %>
  </div>


  <h3>First Turret</h3>
  <div class="first_market">
    <%= f.label :first_turret_team_id %>
    <%= f.select :first_turret_team_id, @teams, { include_blank: '----' }, { class: 'first_select', data_select: 'first_turret' } %>
  </div>

  <div class="odds">
    <%= f.label :blue_side_team_ft_odds %>
    <%= f.text_field :blue_side_team_ft_odds %>
  </div>

  <div class="odds">
    <%= f.label :red_side_team_ft_odds %>
    <%= f.text_field :red_side_team_ft_odds %>
  </div>

  <div class="first_market">
    <%= f.label :first_turret_type %>
    <%= f.select(:first_turret_type, Game.first_turret_types.collect { |t| [ t[0], t[0] ] }) %>
  </div>

  <h3>First Dragon</h3>
  <div class="first_market">
    <%= f.label :first_dragon_team_id %>
    <%= f.select :first_dragon_team_id, @teams, { include_blank: '----' }, { class: 'first_select', data_select: 'first_dragon' } %>
  </div>

  <div class="odds">
    <%= f.label :blue_side_team_fd_odds %>
    <%= f.text_field :blue_side_team_fd_odds %>
  </div>

  <div class="odds">
    <%= f.label :red_side_team_fd_odds %>
    <%= f.text_field :red_side_team_fd_odds %>
  </div>

  <h3>First Baron</h3>
  <div class="first_market">
    <%= f.label :first_baron_team_id %>
    <%= f.select :first_baron_team_id, @teams, { include_blank: '----' }, { class: 'first_select', data_select: 'first_baron' } %>
  </div>

  <div class="odds">
    <%= f.label :blue_side_team_fbaron_odds %>
    <%= f.text_field :blue_side_team_fbaron_odds %>
  </div>

  <div class="odds">
    <%= f.label :red_side_team_fbaron_odds %>
    <%= f.text_field :red_side_team_fbaron_odds %>
  </div>

  <h3>Result</h3>

  <div class="first_market">
    <%= f.label :winner_id %>
    <%= f.select :winner_id, @teams, { include_blank: '----' } %>
  </div>

  <div class="first_market">
    <%= f.label :loser_id %>
    <%= f.select :loser_id, @teams, { include_blank: '----' } %>
  </div>

  <div class="first_market">
    <%= f.label :match_complete %>
    <%= f.check_box :match_complete %>
  </div>

  <%= f.submit %>
<% end %>
