<%= javascript_pack_tag 'games/new' %>

<%= form_with model: @game do |f| %>
  <div class="first_market">
    <%= f.label :date %>
    <%= f.date_field :date, value: Date.today %>
  </div>

  <div class="first_market">
    <%= f.label :league %>
    <%= f.select :league_id, FormHelper.select_for(League.all), { selected: @league.id }, { class: 'side_select', data_select: 'league_select' } %>
  </div>

  <div class="first_market">
    <%= f.label :split %>
    <%= f.select :split_id, FormHelper.select_for(@splits.all), { selected: @splits.last.id }, { class: 'side_select', data_select: 'split_select' } %>
  </div>

  <div class="first_market">
    <%= f.label :blue_side %>
    <%= f.select :blue_side_team_id, FormHelper.select_for(@teams), { selected: @teams.first.id }, { class: 'side_select' } %>
  </div>

  <div class="first_market">
    <%= f.label :red_side %>
    <%= f.select :red_side_team_id, FormHelper.select_for(@teams), { selected: @teams.second.id }, { class: 'side_select' } %>
  </div>

  <%= f.submit %>
<% end %>
