<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      const qs = x => document.querySelector(x)
      const qss = x => document.querySelectorAll(x)
    </script>
  </head>
  
  <%= render partial: 'layouts/header' %>

  <body>
    <%= yield %>
  </body>
</html>
